/**
 * Dropdown
 */

// Dependencies
@use 'config/dimensions';
@use 'config/media';

// Declarations
@mixin dropdown($variant) {
  .#{$variant}c-dropdown {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    max-height: calc(100vh - #{dimensions.get('navigation-height-mobile')});

    @include media.screen-and-min-width('tablet') {
      max-height:  calc(100vh - #{dimensions.get('navigation-height')});
    }
  }
}

@include media.screens-and-min-width() using ($variant) {
  @include dropdown($variant);
}
