/**
 * Code
 */

// Dependencies
@use 'config/dimensions';
@use 'config/media';
@use 'config/typography';

// Declarations
code, pre, .hljs {
  display: inline-block;
}

.code,
.code-block {
  border: 1px solid;
  border-radius: 3px;
}

code, pre {
  @include typography.set('code');
}

.code {
  padding: 4px 8px;
  display: inline-block;
  overflow: initial;
  line-height: inherit;
  max-width: 100%;
  text-overflow: ellipsis;
}

p code, li code, td code {
  font-size: 80%;
  font-family: inherit;

  border-radius: 3px;
  padding: 0.1em 0.4em 0.3em;
  margin: 0;
  display: inline;
  white-space: nowrap;
}

td > code {
  display: inline-block
}

pre, .hljs {
  display: block;
  border: 1px solid;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: dimensions.$spacing-base;

  padding: dimensions.$spacing-base;
  @include media.screen-and-min-width('tablet') {
    padding: (dimensions.$spacing-base * 2);
  }
}

.code-block {
  display: inline-block;
  display: block;
  // max-width: 100%;
  // overflow: hidden;
  // overflow-x: auto;
  margin-bottom: dimensions.$spacing-base;

  pre, .hljs {
    color: inherit;
    background-color: transparent;

    margin: 0;
    border: none;
    margin-bottom: 0;

    padding: dimensions.$spacing-base;
    @include media.screen-and-min-width('tablet') {
      padding: (dimensions.$spacing-base * 2);
    }
  }
}
