/**
 * Badges
 */

// Dependencies
@use 'config/badge';
@use 'config/dimensions';
@use 'config/typography';

// Declarations
.badge {
  font-size: badge.$font-size;
  font-weight: badge.$font-weight;
  line-height: badge.$line-height;
  text-transform: badge.$text-transform;

  border-radius: badge.$radius;
  display: inline-block;

  padding: badge.$padding;
}

.badge-small {
  line-height: badge.$line-height-sm;
  padding: badge.$padding-sm;
}


