/**
 * Icons
 */

// Dependencies
@use 'config/icons';
@use 'config/media';

// Declarations
[class*='icon'] {
  overflow: visible !important;
  max-width: 100%;
  width: nth(map-get(icons.$sizes, 'default'), 1);
  height: nth(map-get(icons.$sizes, 'default'), 2);
}

@include icons.ui;
// @include icons.subway;

// Create our responsive icon size utilty
@include media.screens() using ($variant) {
  @include icons.sizes($variant);
}
