/**
 * Navigation
 */

// Dependencies
@use 'config/tokens' as *;
@use 'config/grid' as *;
@use 'config/color';
@use 'config/direction';
@use 'config/dimensions';
@use 'config/layouts';
@use 'config/media';
@use 'config/nav';
@use 'config/typography';
@use 'config/z';

// Declarations
.o-navigation {
  @include typography.set('small');
  line-height: 1rem;

  @include layouts.wrap();
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex: 1;

  box-shadow: var(--shadow-up);
  position: fixed;
  width: 100%;
  bottom: 0;

  @include media.screen-and-max-width('tablet') {
    padding-left: 0;
    padding-right: 0;
    z-index: map-get(z.$indexes, 'navigation');
  }

  @include media.screen-and-min-width('tablet') {
    @include nav.inline();
    padding-top: $grid * 2;
    padding-bottom: $grid * 2;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    box-shadow: none;
  }

  @include media.screen-and-min-width('desktop') {
    position: static;
  }
}

.o-navigation__logo {
  background-color: var(--color-scale-1);
  min-width: dimensions.get('navigation-logo');
  margin-#{direction.$end}: $grid;

  @include media.screen-and-min-width('tablet') {
    background-color: transparent;
    margin-#{direction.$end}: auto !important;
  }
}

// Mobile Menu Items
@include media.screen-and-max-width('tablet') {
  .o-navigation__menu-item {
    padding: $grid * 2;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    line-height: normal;
  }

  [class*=btn-].o-navigation__menu-item > [class*=icon]:first-child {
    margin: 0;
  }
}

@include media.screen-and-max-width('tablet') {
  .o-navigation__menu-icon {
    width: $grid * 4 !important;
    height: $grid * 4 !important;
  }
}

.o-navigation__menu-label {
  display: block;
}

.o-navigation__toggle,
.o-navigation__search-toggle {
  margin-#{direction.$start}: $grid * 2;

  a:link {
    text-decoration: none
  }
}

.o-navigation__toggle {
  flex: 1 1 auto;
  text-align: direction.$end;

  @include media.screen-and-min-width('desktop') {
    display: none
  }
}
