/**
 * Card
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/layouts';
@use 'config/media';
@use 'config/typography';

// Declarations
.c-card {

}

.c-card__header,
.c-card__body {
  @include layouts.wrap();
  padding-top: $grid * 2;
  padding-bottom: $grid * 2;
}

.c-card__title {
  @include typography.set('h4');
  font-weight: bold;
}

.c-card__subtitle {
  @include typography.set('h5');
}

.c-card__summary {
  @include typography.selector-body-elements() {
    @include media.screen-and-min-width('tablet') {
      @include typography.set('small');
    }

    margin-bottom: typography.get('margin-bottom') / 2;
  }

  > :last-child {
    margin-bottom: typography.get('margin-bottom');
  }
}

.c-card__cta {

}
