/**
 * Card
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/direction';
@use 'config/layouts';
@use 'config/media';
@use 'config/typography';

// Declarations
.c-card {
  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: var(--shadow-up);
}

.c-card__header,
.c-card__body {
  padding: ($grid * 3);

  @include media.screen-and-min-width('tablet') {
    padding: ($grid * 4);
  }

  @include media.screen-and-min-width('desktop') {
    padding: ($grid * 5);
  }
}

.c-card__header {
  padding-bottom: ($grid * 2);

  @include media.screen-and-min-width('tablet') {
    padding-bottom: ($grid * 3);
  }

  @include media.screen-and-min-width('desktop') {
    padding-bottom: ($grid * 4);
  }
}

.c-card__body {
  padding-top: $grid;

  @include media.screen-and-min-width('tablet') {
    padding-top: ($grid * 3);
  }

  @include media.screen-and-min-width('desktop') {
    padding-top: ($grid * 4);
  }
}

.c-card__title {
  @include typography.set('h4');
  font-weight: bold;

  margin-top: 0;
  margin-bottom: $grid;

  a {
    text-decoration: none;
  }
}

.c-card__subtitle {
  @include typography.set('h5');
  font-weight: lighter;
  margin-top: 0
}

.c-card__body {
  flex: 1;
  display: flex;
  flex-direction: column;

  > *:nth-last-child(2) {
    margin-bottom: 0;

    @include media.screen-and-min-width('desktop') {
      margin-bottom: typography.get('margin-bottom');
    }
  }
}

.c-card__summary {
  margin-bottom: typography.get('margin-bottom')
}

.c-card__features {
  padding: 0;
  list-style-type: none;
  margin-bottom: typography.get('margin-bottom');

  @include typography.selector-body-elements() {
    @include media.screen-and-min-width('mobile') {
      @include typography.set('small')
    }
  }

  li {
    margin-bottom: $grid;
  }
}

.c-card__web-share {
  @include media.screen-and-min-width('desktop') {
    margin-bottom: typography.get('margin-bottom')
  }
}

.c-card__cta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  @include media.screen-and-min-width('desktop') {
    height: auto;
    margin-top: auto;

    opacity: 1;
    position: static;
    width: auto
  }
}

.c-card-transparent {
  background-color: transparent !important;
  box-shadow: none;

  .c-card__title {
    @include typography.font-family('h6');
  }

  .c-card__header {
    background-color: transparent !important;
    border-bottom: 1px solid var(--color-scale-4);
  }

  .c-card__header,
  .c-card__body {
    padding-left: 0px;
    padding-right: 0px;
    // margin-left: -8px;
    // margin-right: -8px;
  }
}
