/**
 * Base
 */

// Dependencies
@use 'config/print';
@use 'config/media';

// Declarations

// Works with the Window Vh JavaScript Utility to set
// this property based on the window's innerHeight.
:root {
  --100vh: 100vh;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: auto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

// For IE < 11, see http://caniuse.com/#feat=hidden
[hidden] {
  display: none !important;
}

// Where elements would swallow click events
// and prevent them from propagating up.
svg,
use,
a > *,
button > * {
  pointer-events: none;
}

// tailwindcss requires this border setting
// for it's borders to work properly
[class*='border'] {
  border-style: solid;
  border-width: 0
}

img {
  max-width: 100%;
  height: auto
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

figure, figcaption {
  margin: 0;
  display: block
}

iframe {
  width: 99999px;
  max-width: 100%;
  border: none;
  aspect-ratio: 16 / 9;
}

@include media.print() {
  @include print.base();
}
