/**
 * Mobile-nav
 */

// Dependencies
@use 'config/animate';
@use 'config/color';
@use 'config/direction';
@use 'config/dimensions';
@use 'config/media';
@use 'config/nav';
@use 'config/typography';

// Declarations
.o-mobile-nav {
  padding: dimensions.$spacing-base;

  display: block;
  position: fixed;
  top: 0;
  bottom: 0;

  z-index: 1000;

  @media screen and (min-width: media.$screen-desktop) {
    display: none;
  }
}

.o-mobile-nav__close {
  @include typography.set('small');

  text-align: direction.$end;
}

.o-mobile-nav__nav {
  @include nav.block();
}

// Animation

.o-mobile-nav {
  width: dimensions.$mobile-menu-width;

  @if direction.$direction == 'rtl' {
    left: -(dimensions.$mobile-menu-width);
  } @else {
    right: -(dimensions.$mobile-menu-width);
  }

  @include animate.ease();
}

.o-mobile-nav.hidden {
  box-shadow: none !important;
  display: initial !important;

  transform: translateX(0);
  @include animate.linear();
}

.o-mobile-nav.active {
  @if direction.$direction == 'rtl' {
    transform: translateX(100%)
  } @else {
    transform: translateX(-100%)
  }
}
