//
// Mixins
//

// Dependencies
@use 'config/tokens';

$animate: map-get(tokens.$tokens, 'animate');
$duration: map-get($animate, 'duration');
$duration-without-easing: ($duration * 1/3);
$ease-in: map-get($animate, 'ease-in');
$ease-out: map-get($animate, 'ease-out');
$timing-function: map-get($animate, 'timing-function');

// Declarations
@mixin animate($animation: none, $duration: $duration) {
  @if $animation != none {
    animation-name: $animation;
  }

  animation-fill-mode: both;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
}

@mixin transition() {
  transition-property: background, color, border, box-shadow, transform, stroke, stroke-dashoffset, fill;
  transition-duration: 0.25s;
  backface-visibility: hidden;
}

@mixin linear() {
  transition-duration: $duration-without-easing;
  transition-timing-function: linear;
}

@mixin ease() {
  transition-duration: $duration;
  transition-timing-function: $ease-out;
}