//
// Variables, Functions, and Mixins
//

// Dependencies
@use 'config/media';

// Declarations

/**
 * Getter Function
 */
@function get($token) {
  @return var(--wnyc-animate-#{$token});
}

@mixin animate($animation: none, $duration: get('duration')) {
  @include media.screens-and-prefers-motion {
    @if $animation != none {
      animation-name: $animation;
    }

    animation-fill-mode: both;
    animation-duration: get('duration');
    animation-timing-function: get('timing-function');
  }
}

@mixin transition() {
  @include media.screens-and-prefers-motion {
    transition-property: background, color, border, box-shadow, transform, stroke, stroke-dashoffset, fill;
    transition-duration: get('duration');
    backface-visibility: hidden;
  }
}

@mixin linear() {
  transition-duration: calc(calc(get('duration') * 1) / 3);
  transition-timing-function: linear;
}

@mixin ease() {
  transition-duration: get('duration');
  transition-timing-function: get('ease-out');
}