// Variables

@use 'config/grid' as *;

// Declarations
$font-size: 90%;
$font-weight: bold;
$line-height: inherit;
$text-transform: capitalize;
$padding: 0 $grid;
$radius: 10px;

$line-height-sm: 1.3;
$padding-sm: 0 6px;