//
// Variables, Functions, and Mixins
//

// Dependencies
// @use ...

// Declarations
@mixin selector($variant: '', $type: '') {
  @if $type != '' {
    .#{$variant}divider-#{$type} {
      @content;
    }
  } @else {
    .#{$variant}divider {
      @content;
    }
  }
}

@mixin base() {
  border: none;
  margin: 0;

  display: block;
  width: 100%;
  border-bottom: 1px solid;
  border-color: var(--wnyc-scale-3);
}

@mixin dividers($variant: '') {
  @include selector($variant) {
    @include base();

    margin-top: calc(var(--wnyc-spacing-DEFAULT) * 1.5);
    margin-bottom: calc(var(--wnyc-spacing-DEFAULT) * 1.5);
  }

  @include selector($variant, 'large') {
    @include base();

    margin-top: calc(var(--wnyc-spacing-DEFAULT) * 2.5);
    margin-bottom: calc(var(--wnyc-spacing-DEFAULT) * 2.5);
  }
}