//
// Variables, Functions, and Mixins
//

// Dependencies
@use 'config/dimensions';
@use 'config/layouts';
@use 'config/media';

// Declarations
@mixin base() {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include max-height();
}

@mixin selector($variant: '', $type: '') {
  .#{$variant}c-dropdown#{$type} {
    @content;
  }
}

@mixin max-height() {
  max-height: calc(var(--100vh) - var(--wnyc-dimensions-navigation-height));
}

@mixin min-height() {
  min-height: calc(var(--100vh) - var(--wnyc-dimensions-navigation-height));
}

@mixin inner() {
  @include layouts.wrap();

  padding-top: var(--wnyc-spacing-DEFAULT);
  padding-bottom: var(--wnyc-spacing-DEFAULT);
}