//
// Variables
//

// Dependencies
@use 'config/tokens';
@use 'config/language';



@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-smooth-auto() {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}