//
// Variables
//

// Dependencies
@use 'config/media';
@use 'config/color';

@mixin fieldset-reset() {
  border-width: 0;
  padding: 0;
  margin: 0;
}

@mixin element-reset() {
  color: initial;
  font-family: inherit;
  font-size: inherit;
  line-height: initial;
  appearance: none;
  border: none;
  border-radius: 0;
  display: block;
  max-width: 100%;
  min-width: 200px;
  width: 100%;
  margin: 0;
  cursor: pointer;
}