// Dependencies
@use 'config/tokens' as *;
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/media';
@use 'config/typography';

// Declarations
$inputs: map-get($tokens, 'inputs');

@function get($token) {
  @return map-get($inputs, $token);
}

@mixin base() {
  @include typography.set('question');
  line-height: get('inner-size');
  text-overflow: ellipsis;
  padding: ($grid * 2) - get('border-width');
  border: get('border-width') get('border-style');
  border-color: inherit;
  border-radius: get('radius');
}

@mixin icon() {
  padding-left: 30px;
}

@mixin currency-icon() {
  font-size: 22px;
  font-weight: bold;
}