// Dependencies
@use 'config/grid' as *;
@use 'config/tokens' as *;
@use 'config/checkboxes';
@use 'config/direction';
@use 'config/dimensions';
@use 'config/typography';

$options: map-get($tokens, 'options');
$inner-size: map-get($options, 'inner-size');
$radius: map-get($options, 'radius');
$border-width: map-get($options, 'border-width');
$border-style: map-get($options, 'border-style');

$stroke-width: map-get($options, 'stroke-width');
$stroke-line: map-get($options, 'stroke-line');

// Declarations
@mixin base() {
  @include typography.set('option');
  line-height: $inner-size;

  display: flex;
  padding-#{direction.$start}: ($grid * 2) - $border-width;
  padding-top: ($grid * 2) - $border-width;
  padding-bottom: ($grid * 2) - $border-width;
  border: $border-width $border-style;
  border-color: transparent;
  border-radius: $border-width;

  cursor: pointer;
}

@mixin label() {
  // display: flex;
  // line-height: checkboxes.$size;
}

@mixin gr() {
  fill: transparent;
  stroke: transparent;

  stroke-width: $stroke-width;
  stroke-linecap: $stroke-line;
  stroke-linejoin: $stroke-line;

  width: $inner-size;
  height: $inner-size;
  margin-#{direction.$end}: $grid;
}

@mixin focused() {
  border-color: currentColor;
}

@mixin gr-checked() {
  fill: currentColor;
  stroke: black;
}