//
// Variables
//

// Dependencies
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/direction';
@use 'config/typography';

// Declarations
@mixin base() {
  @include typography.set('question');
  margin-bottom: $grid * 5;

  @include typography.selector-body-elements() {
    @include typography.set('question');
  }
}

@mixin label() {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-bottom: $grid;
}

@mixin error() {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -($grid * 2);
    bottom: -(dimensions.$spacing-base);

    @if direction.$direction == 'rtl' {
      right: -14px;
    } @else {
      left: -14px;
    }

    border-left: 4px solid;
    display: block;
    width: 0;
  }
}

@mixin error-message() {
  @include typography.set('small');
  margin-bottom: $grid * 2;
  width: 100%;
}