// Dependencies
@use 'config/tokens';
@use 'config/checkboxes';
@use 'config/direction';
@use 'config/dimensions';
@use 'config/screen-readers';

// Declarations
@mixin btn() {
  transition: all .2s;

  // background: white;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  display: inline-block;

  width: checkboxes.$size;
  height: checkboxes.$size;
  min-width: checkboxes.$size;
  margin-#{direction.$end}: .5 * dimensions.$spacing-base;
}

@mixin btn-checked() {
  background-color: blue;
  box-shadow: 0 0 0 2px blue inset, 0 0 0 4px white inset;
  border: 0;
}

@mixin btn-focused() {
  border: 0;
  box-shadow: 0 0 0 2px blue inset, 0 0 0 4px white inset;
}