//
// Variables, Functions, and Mixins
//

// Dependencies
@use 'config/typography';
@use 'config/interaction';

// Declarations
@mixin base() {
  @include typography.set('option');

  background-color: transparent;

  line-height: var(--wnyc-select-inner-size);
  text-overflow: ellipsis;

  padding: calc(calc(var(--wnyc-grid) * 2) - var(--wnyc-select-border-width));
  padding-inline-end: calc(calc(var(--wnyc-grid) * 7) - var(--wnyc-select-border-width));

  border: var(--wnyc-select-border-width) var(--wnyc-select-border-style);
  border-color: inherit;
  border-radius: var(--wnyc-select-radius);

  @include interaction.focus();

  &::-ms-expand {
    display: none;
  }
}

@mixin graphic() {
  fill: transparent;
  stroke: transparent;
  stroke-width: var(--wnyc-select-stroke-width);
  stroke-linecap: var(--wnyc-select-stroke-line);
  stroke-linejoin: var(--wnyc-select-stroke-line);

  position: absolute;

  inset-inline-end: calc(var(--wnyc-grid) * 2);

  top: 50%;
  margin-top: calc(var(--wnyc-select-inner-size) * -1);

  width: var(--wnyc-select-inner-size);
  height: calc(var(--wnyc-select-inner-size) * 2);

  pointer-events: none;
}