/**
 * Typography
 */

@use 'config/grid' as *;
@use 'config/direction';
@use 'config/language';
@use 'config/media';
@use 'config/typography';

html {
  font-size: map-get(typography.$typography, 'sm-mobile');

  @if direction.$direction == 'rtl' {
    direction: rtl;
  }

  @media screen and (min-width: media.get('mobile-small')) {
    font-size: map-get(typography.$typography, 'mobile');
  }

  @include media.screen-and-min-width('tablet') {
    font-size: map-get(typography.$typography, 'tablet');
  }

  @include media.screen-and-min-width('desktop') {
    font-size: map-get(typography.$typography, 'desktop');
  }
}

body {
  @include typography.set('body');
}

h1, .h1 {
  @include typography.set('h1');
  margin-bottom: typography.$margin-bottom;
}

h2, .h2 {
  @include typography.set('h2');
  margin-bottom: typography.$margin-bottom;
}

h3, .h3 {
  @include typography.set('h3');
  margin-bottom: typography.$margin-bottom;
}

h4, .h4 {
  @include typography.set('h4');
  margin-bottom: typography.$margin-bottom;
}

h5, .h5 {
  @include typography.set('h5');
  margin-bottom: typography.$margin-bottom;
}

h6, .h6 {
  @include typography.set('h6');
  margin-bottom: typography.$margin-bottom;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;

  a {
    font-weight: inherit;
    text-decoration: inherit;
  }
}

small, .small {
  @include typography.set('small');
}

blockquote, .blockquote {
  @include typography.set('blockquote');
  margin-left: 0;
  margin-right: 0;
  margin-bottom: typography.$margin-bottom;

  p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    @include media.screen-and-min-width('tablet') {
      padding-#{direction.$start}: $grid * 9;
    }
  }

  footer {
    font-size: 65%;
    font-weight: normal;
    padding-left: $grid * 4;
  }

  cite {
    font-style: normal;
  }

  .blockquote__mark {
    position: absolute;
    display: none;

    @include media.screen-and-min-width('tablet') {
      display: block;
    }
  }
}

p, li {
  @include typography.set('p');
}

p, ul, ol, li {
  margin-top: 0;
  margin-bottom: typography.$margin-bottom;
}

ul, ol {
  margin-bottom: typography.$margin-bottom * 2;
}

// .font-primary {
//   @if language.$language == '' {

//   } @else {

//   }
// }

// .font-secondary {
//   @if language.$language == '' {

//   } @else {

//   }
// }

// @media print {
//   html { }
// }
