/**
 * Typography
 */

@use 'config/tokens';
@use 'config/grid';
@use 'config/language';
@use 'config/typography';
@use 'config/direction';

html {
  @include typography.set('html');

  @if direction.$direction == 'rtl' {
    direction: rtl;
  }
}

body {
  @include typography.set('body');
}

h1, .h1 {
  @include typography.set('h1') {
    margin: typography.$margin;
  };
}

h2, .h2 {
  @include typography.set('h2') {
    margin: typography.$margin;
  };
}

h3, .h3 {
  @include typography.set('h3') {
    margin: typography.$margin;
  };
}

h4, .h4 {
  @include typography.set('h4') {
    margin: typography.$margin;
  };
}

h5, .h5 {
  @include typography.set('h5') {
    margin: typography.$margin;
  };
}

h6, .h6 {
  @include typography.set('h6') {
    margin: typography.$margin;
  };
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    font-weight: inherit;
    text-decoration: inherit;
  }
}

small, .small {
  @include typography.set('small');
}

blockquote, .blockquote {
  @include typography.set('blockquote') {
    margin: typography.$margin;
  };

  footer {
    font-size: 65%;
    font-weight: normal;
    padding-left: grid.$grid * 3;
  }

  cite {
    font-style: normal;
  }

  p {
    border-left: grid.$grid solid;
    border-color: inherit;
    padding-left: grid.$grid * 2;
    margin-bottom: 0.64em;
  }
}

p, li {
  @include typography.set('p');
}

p, ul, ol, li {
  margin: typography.$margin;
}

// .font-primary {
//   @if language.$language == '' {

//   } @else {

//   }
// }

// .font-secondary {
//   @if language.$language == '' {

//   } @else {

//   }
// }

// @media print {
//   html { }
// }
