/**
 * Mobile-nav
 */

// Dependencies
@use 'config/animate';
@use 'config/color';
@use 'config/direction';
@use 'config/dimensions';
@use 'config/layouts';
@use 'config/media';
@use 'config/nav';
@use 'config/typography';

// Declarations
.o-mobile-menu {
  @include layouts.wrap();
  padding-top: dimensions.$spacing-base;
  padding-bottom: dimensions.$spacing-base;

  display: block;
  width: dimensions.get('mobile-menu-width');
}

.o-mobile-menu__close {
  @include typography.set('small');

  text-align: direction.$end;
}

.o-mobile-menu__nav {
  @include nav.block();

  a, button {
    text-align: direction.$start;
    justify-content: flex-start;
  }
}

// Animation

.o-mobile-menu-fixed {
  position: fixed;
  top: 0;
  bottom: 0;

  z-index: 1000;

  @include media.screen-and-min-width('desktop') {
    display: none;
  }
}

.o-mobile-menu-fixed {
  @if direction.$direction == 'rtl' {
    left: -(dimensions.get('mobile-menu-width'));
  } @else {
    right: -(dimensions.get('mobile-menu-width'));
  }

  @include animate.ease();
}

.o-mobile-menu-fixed.hidden {
  box-shadow: none !important;
  display: initial !important;

  transform: translateX(0);
  @include animate.linear();
}

.o-mobile-menu-fixed.active {
  @if direction.$direction == 'rtl' {
    transform: translateX(100%)
  } @else {
    transform: translateX(-100%)
  }
}
