/**
 * Web-share
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/direction';
@use 'config/layouts';
@use 'config/typography';
@use 'config/media';

// Declarations
.c-web-share {
  position: relative;
  text-align: direction.$start;
  pointer-events: auto;
}

.c-web-share__fallback {
  @include typography.set('small');

  position: absolute;
  margin-top: $grid;
  margin-bottom: $grid;

  width: dimensions.get('webshare-fallback');
  max-width: calc(100vw - #{$grid * 6});

  @include media.screen-and-min-width('tablet') {
    margin-top: $grid * 2;
    margin-bottom: $grid * 2;
  }
}

.c-web-share__fallback-body {
  padding: $grid * 2;
  padding-bottom: $grid;

  @include media.screen-and-min-width('tablet') {
    padding: $grid * 3;
    padding-bottom: $grid * 2;
  }

  > *:last-child {
    margin-#{direction.$end}: 0;
  }
}

.c-web-share__label {
  font-weight: bold;
  display: block;
  margin-bottom: $grid;
}

.c-web-share__input {
  width: 100%;
  margin-bottom: $grid * 2;

  input {
    padding: $grid;
  }
}

.c-web-share__items a,
.c-web-share__items button {
  margin-bottom: $grid;
  white-space: nowrap;
}

.c-web-share__items {
  @include layouts.rows();

  @include media.screen-and-min-width('mobile') {
    @include layouts.three-columns();
    gap: $grid;
  }
}

.c-web-share__icon {
  width: $grid * 2;
  height: $grid * 2;
}
