/**
 * Footer
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/direction';
@use 'config/layouts';
@use 'config/media';
@use 'config/nav';
@use 'config/typography';
@use 'config/z' as indexes;

// Declarations
.o-footer {
  @include typography.set('small');
  @include layouts.wrap();
  padding-top: dimensions.$spacing-base;
  padding-bottom: dimensions.$spacing-base;
  width: 100%;

  @include media.screen-and-min-width('tablet') {
    padding-top: $grid * 9;
    padding-bottom: $grid * 9;
  }
}

.o-footer-fixed {
  @include media.screen-and-max-width('tablet') {
    position: fixed;
    bottom: dimensions.get('navigation-height-mobile');
    z-index: indexes.get('footer')
  }
}

.o-footer__divider {
  border-bottom: 1px solid var(--color-scale-3);
}

.o-footer__nav {
  @include nav.block();

  @include media.screen-and-max-width('tablet') {
    .btn-link, a:not(.btn) {
      padding-bottom: 0
    }
  }

  margin-bottom: $grid * 2;
  padding-bottom: $grid * 2;
  border-bottom: 1px solid var(--color-scale-3);

  @include media.screen-and-min-width('tablet') {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.o-footer__wrap {
  @include media.screen-and-min-width('tablet') {
    display: flex;
    flex-wrap: wrap
  }
}

.o-footer__break {
  flex-basis: 100%;

  @include media.screen-and-min-width('tablet') {
    display: none
  }
}

.o-footer__nav-b,
.o-footer__nav-a {
  @include media.screen-and-min-width('tablet') {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%
  }

  @include media.screen-and-min-width('tablet') {
    flex-basis: 22%;
    max-width: 22%;
    width: 22%
  }
}

.o-footer__nav-c {
  @include media.screen-and-max-width('tablet') {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%
  }

  @include media.screen-and-min-width('tablet') {
    margin-#{direction.$start}: auto;
  }
}
