/**
 * Footer
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/direction';
@use 'config/layouts';
@use 'config/media';
@use 'config/nav';
@use 'config/typography';
@use 'config/z' as indexes;

// Declarations
.o-footer {
  @include typography.set('small');
  @include layouts.wrap();
  padding-top: dimensions.$spacing-base;
  padding-bottom: dimensions.$spacing-base;
  width: 100%;

  @include media.screen-and-min-width('tablet') {
    padding-top: $grid * 9;
  }
}

.o-footer-fixed {
  @include media.screen-and-max-width('tablet') {
    position: fixed;
    bottom: dimensions.get('navigation-height-mobile');
    z-index: indexes.get('footer')
  }
}

.o-footer__divider {
  border-bottom: 1px solid var(--color-scale-3);
}

.o-footer__nav {
  @include nav.block();

  margin-bottom: $grid * 2;
  padding-bottom: $grid * 2;
  border-bottom: 1px solid var(--color-scale-3);

  @include media.screen-and-min-width('tablet') {
    border: none
  }
}

.o-footer__wrap {
  @include media.screen-and-min-width('tablet') {
    display: flex;
    flex-wrap: wrap
  }
}

.o-footer__break {
  flex-basis: 100%;

  @include media.screen-and-min-width('tablet') {
    display: none
  }
}

.o-footer__nav-b,
.o-footer__nav-a {
  @include media.screen-and-min-width('tablet') {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%
  }

  @include media.screen-and-min-width('tablet') {
    flex-basis: 20%;
    max-width: 20%;
    width: 20%
  }
}

.o-footer__nav-c {
  @include media.screen-and-max-width('tablet') {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%
  }

  @include media.screen-and-min-width('tablet') {
    margin-#{direction.$start}: auto;
  }

  // @include media.screen-and-min-width('tablet') {
  //   flex-basis: 43%;
  //   max-width: 43%;
  //   width: 43%;
  //   margin-#{direction.$start}: auto
  // }

  // @include media.screen-and-min-width('desktop') {
  //   flex-basis: 40%;
  //   max-width: 40%;
  //   width: 40%;
  //   margin-#{direction.$start}: auto
  // }
}

// .o-footer__nav-list {
//   list-style-type: none;

//   list-style: none;
//   padding: 0;
//   margin: 0 0 dimensions.$spacing-base;

//   ul {
//     list-style: none;
//     margin: 0 0 (2 * dimensions.$spacing-base);
//     padding: 0;

//     > li {
//       margin-bottom: dimensions.$spacing-base;
//     }
//   }
// }

// .o-footer__copyright {
//   margin: 0 dimensions.$spacing-base;
// }

// // Desktop
// @include media.screen-and-min-width('desktop') {
//   .o-footer__nav-list {
//     display: flex;
//   }

//   .o-footer__column-first,
//   .o-footer__column-middle {
//     width: 30%;
//   }

//   .o-footer__column-last {
//     width: 40%;
//   }
// }

// // Tablet
// @media screen and (min-width: media.get('tablet')) and (max-width: media.get('desktop')) {
//   .o-footer__nav-list {
//     flex-wrap: wrap;
//     display: flex;
//   }

//   .o-footer__column-first {
//     width: 40%;
//   }

//   .o-footer__column-middle {
//     width: 60%;
//   }

//   .o-footer__column-last {
//     width: 100%;
//   }
// }

// .o-footer__copyright {
//   align-items: stretch;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   color: $color-grey-dark;
//   font-size: $font-size-xsmall;

//   .icon-logo-nyc {
//     width: 90px;
//     height: 30px;
//     float: direction.$start;
//     margin-#{direction.$end}: .5 * dimensions.$spacing-base;
//   }
// }
