/**
 * Links
 */

// Dependencies
@use 'config/tokens';
@use 'config/cdn';
@use 'config/color';
@use 'config/direction';
// @use 'bourbon/app/assets/stylesheets/addons/triangle';

// Declarations
a, .btn-link, .button-link {
  font-weight: map-get(map-get(tokens.$tokens, 'links'), 'font-weight');
  text-decoration: map-get(map-get(tokens.$tokens, 'links'), 'text-decoration');

  text-decoration: underline;
  transition: color .2s ease-in;
}
