/**
 * Links
 */

// Dependencies
@use 'config/links';
@use 'config/icons';
@use 'config/interaction';

// Declarations
a {
  @include links.base;
  @include interaction.focus;

  &:visited {
    color: var(--wnyc-link-visited);
  }

  &:hover {
    @include links.hover();
  }
}

.link-icon {
  display: inline-flex;
  align-items: center;

  @include icons.spacing;
}

.link-anchor {
  &:visited {
    color: var(--wnyc-link);
  }

  &:hover {
    @include links.hover();
  }
}
