/**
 * Get a token value from the $typography set
 *
 * @param   {String}  $token  A token within the typography set
 *
 * @return  {Mixed}           The token value
 */

/**
 * Get font family value by token in tokens config
 *
 * @param   {String}  $key  The font family token
 *
 * @return  {String}        The font family value
 */

/**
 * Render the font family using get-font-family by token
 *
 * @param  {String}  $key  The font family token
 */

/**
 * Render all font attributes by token
 *
 * @param  {String}  $key  The font set token
 */

/**
 * Render styling within body type element selectors
 */

/**
 * Render styling within list type element selectors
 */

/**
 * Render font smoothing attributes
 */

/**
 * Render default font smoothing (unset font smoothing) attributes
 */

/**
 * Base mixin for setting text and background colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Styling hyperlink colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Styling card colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Modal color styling.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Styling input colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Styling option colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Styling button colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Styling code colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * The mode to set the color scale
 *
 * @param  $mode  The combination set to use
 */

/**
 * Styling card colors.
 *
 * @param  $combination  The combination set to use
 */

/**
 * Colors
 */

:root {
  --shadow-up: 0 3px 12px 2px rgba(0, 0, 0, 0.15);
  --color-scale-0: #03142C;
  --color-scale-1: #031837;
  --color-scale-2: #071F42;
  --color-scale-3: #0C264D;
  --color-scale-4: #122F5A;
}

.color {
  color: #FFFFFF;
  background-color: var(--color-scale-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /**
   * Checkbox Graphic
   */
  /**
   * Highlight.js Overrides
   */
}

.color .text-alt {
  color: #C9EEFE !important;
}

.color .bg-alt {
  background-color: #C9EEFE !important;
}

.color .border-alt {
  border-color: #C9EEFE !important;
}

.color .fill-alt {
  fill: #C9EEFE !important;
}

.color .stroke-alt {
  stroke: #C9EEFE !important;
}

.color .text-primary {
  color: #3194E0 !important;
}

.color .bg-primary {
  background-color: #3194E0 !important;
}

.color .border-primary {
  border-color: #3194E0 !important;
}

.color .fill-primary {
  fill: #3194E0 !important;
}

.color .stroke-primary {
  stroke: #3194E0 !important;
}

.color .text-secondary {
  color: #A8DD7C !important;
}

.color .bg-secondary {
  background-color: #A8DD7C !important;
}

.color .border-secondary {
  border-color: #A8DD7C !important;
}

.color .fill-secondary {
  fill: #A8DD7C !important;
}

.color .stroke-secondary {
  stroke: #A8DD7C !important;
}

.color .text-tertiary {
  color: #F6D772 !important;
}

.color .bg-tertiary {
  background-color: #F6D772 !important;
}

.color .border-tertiary {
  border-color: #F6D772 !important;
}

.color .fill-tertiary {
  fill: #F6D772 !important;
}

.color .stroke-tertiary {
  stroke: #F6D772 !important;
}

.color a:not(.btn), .color .btn-link, .color .button-link {
  color: #3194E0;
}

.color a:not(.btn):hover, .color a:not(.btn):active, .color a:not(.btn):focus, .color .btn-link:hover, .color .btn-link:active, .color .btn-link:focus, .color .button-link:hover, .color .button-link:active, .color .button-link:focus {
  color: #C9EEFE;
}

.color a:not(.btn):visited:not([href^="#"]):not(.o-text-controller__languages a), .color .btn-link:visited:not([href^="#"]):not(.o-text-controller__languages a), .color .button-link:visited:not([href^="#"]):not(.o-text-controller__languages a) {
  color: #C9EEFE;
}

.color .color-card,
.color .c-accordion,
.color .c-card {
  background-color: var(--color-scale-4);
}

.color .color-card__header,
.color .c-accordion__header,
.color .c-card__header {
  background-color: var(--color-scale-3);
}

.color .color-modal,
.color .o-search, .color .o-mobile-menu {
  color: var(--color-scale-1);
  background-color: #C9EEFE;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -webkit-box-shadow: var(--shadow-up);
          box-shadow: var(--shadow-up);
}

.color .color-modal .text-alt,
.color .o-search .text-alt, .color .o-mobile-menu .text-alt {
  color: var(--color-scale-2) !important;
}

.color .color-modal .bg-alt,
.color .o-search .bg-alt, .color .o-mobile-menu .bg-alt {
  background-color: var(--color-scale-2) !important;
}

.color .color-modal .border-alt,
.color .o-search .border-alt, .color .o-mobile-menu .border-alt {
  border-color: var(--color-scale-2) !important;
}

.color .color-modal .fill-alt,
.color .o-search .fill-alt, .color .o-mobile-menu .fill-alt {
  fill: var(--color-scale-2) !important;
}

.color .color-modal .stroke-alt,
.color .o-search .stroke-alt, .color .o-mobile-menu .stroke-alt {
  stroke: var(--color-scale-2) !important;
}

.color .color-modal .text-primary,
.color .o-search .text-primary, .color .o-mobile-menu .text-primary {
  color: !important;
}

.color .color-modal .bg-primary,
.color .o-search .bg-primary, .color .o-mobile-menu .bg-primary {
  background-color: !important;
}

.color .color-modal .border-primary,
.color .o-search .border-primary, .color .o-mobile-menu .border-primary {
  border-color: !important;
}

.color .color-modal .fill-primary,
.color .o-search .fill-primary, .color .o-mobile-menu .fill-primary {
  fill: !important;
}

.color .color-modal .stroke-primary,
.color .o-search .stroke-primary, .color .o-mobile-menu .stroke-primary {
  stroke: !important;
}

.color .color-modal .text-secondary,
.color .o-search .text-secondary, .color .o-mobile-menu .text-secondary {
  color: !important;
}

.color .color-modal .bg-secondary,
.color .o-search .bg-secondary, .color .o-mobile-menu .bg-secondary {
  background-color: !important;
}

.color .color-modal .border-secondary,
.color .o-search .border-secondary, .color .o-mobile-menu .border-secondary {
  border-color: !important;
}

.color .color-modal .fill-secondary,
.color .o-search .fill-secondary, .color .o-mobile-menu .fill-secondary {
  fill: !important;
}

.color .color-modal .stroke-secondary,
.color .o-search .stroke-secondary, .color .o-mobile-menu .stroke-secondary {
  stroke: !important;
}

.color .color-modal .text-tertiary,
.color .o-search .text-tertiary, .color .o-mobile-menu .text-tertiary {
  color: !important;
}

.color .color-modal .bg-tertiary,
.color .o-search .bg-tertiary, .color .o-mobile-menu .bg-tertiary {
  background-color: !important;
}

.color .color-modal .border-tertiary,
.color .o-search .border-tertiary, .color .o-mobile-menu .border-tertiary {
  border-color: !important;
}

.color .color-modal .fill-tertiary,
.color .o-search .fill-tertiary, .color .o-mobile-menu .fill-tertiary {
  fill: !important;
}

.color .color-modal .stroke-tertiary,
.color .o-search .stroke-tertiary, .color .o-mobile-menu .stroke-tertiary {
  stroke: !important;
}

.color .color-modal a:not(.btn), .color .color-modal .btn-link, .color .color-modal .button-link,
.color .o-search a:not(.btn),
.color .o-search .btn-link,
.color .o-search .button-link, .color .o-mobile-menu a:not(.btn), .color .o-mobile-menu .btn-link, .color .o-mobile-menu .button-link {
  color: var(--color-scale-4);
}

.color .color-modal a:not(.btn):hover, .color .color-modal a:not(.btn):active, .color .color-modal a:not(.btn):focus, .color .color-modal .btn-link:hover, .color .color-modal .btn-link:active, .color .color-modal .btn-link:focus, .color .color-modal .button-link:hover, .color .color-modal .button-link:active, .color .color-modal .button-link:focus,
.color .o-search a:not(.btn):hover,
.color .o-search a:not(.btn):active,
.color .o-search a:not(.btn):focus,
.color .o-search .btn-link:hover,
.color .o-search .btn-link:active,
.color .o-search .btn-link:focus,
.color .o-search .button-link:hover,
.color .o-search .button-link:active,
.color .o-search .button-link:focus, .color .o-mobile-menu a:not(.btn):hover, .color .o-mobile-menu a:not(.btn):active, .color .o-mobile-menu a:not(.btn):focus, .color .o-mobile-menu .btn-link:hover, .color .o-mobile-menu .btn-link:active, .color .o-mobile-menu .btn-link:focus, .color .o-mobile-menu .button-link:hover, .color .o-mobile-menu .button-link:active, .color .o-mobile-menu .button-link:focus {
  color: var(--color-scale-3);
}

.color .color-modal a:not(.btn):visited:not([href^="#"]):not(.o-text-controller__languages a), .color .color-modal .btn-link:visited:not([href^="#"]):not(.o-text-controller__languages a), .color .color-modal .button-link:visited:not([href^="#"]):not(.o-text-controller__languages a),
.color .o-search a:not(.btn):visited:not([href^="#"]):not(.o-text-controller__languages a),
.color .o-search .btn-link:visited:not([href^="#"]):not(.o-text-controller__languages a),
.color .o-search .button-link:visited:not([href^="#"]):not(.o-text-controller__languages a), .color .o-mobile-menu a:not(.btn):visited:not([href^="#"]):not(.o-text-controller__languages a), .color .o-mobile-menu .btn-link:visited:not([href^="#"]):not(.o-text-controller__languages a), .color .o-mobile-menu .button-link:visited:not([href^="#"]):not(.o-text-controller__languages a) {
  color: var(--color-scale-3);
}

.color .btn-primary, .color .button-primary {
  color: #3194E0;
  background-color: var(--color-scale-2);
}

.color .btn-primary:link, .color .btn-primary:visited, .color .button-primary:link, .color .button-primary:visited {
  color: #3194E0;
  background-color: var(--color-scale-2);
}

.color .btn-primary:hover, .color .btn-primary:focus, .color .btn-primary:active, .color .button-primary:hover, .color .button-primary:focus, .color .button-primary:active {
  color: #68B7F4;
  background-color: var(--color-scale-0);
}

.color .btn-secondary, .color .button-secondary {
  color: #A8DD7C;
  background-color: var(--color-scale-2);
}

.color .btn-secondary:link, .color .btn-secondary:visited, .color .button-secondary:link, .color .button-secondary:visited {
  color: #A8DD7C;
  background-color: var(--color-scale-2);
}

.color .btn-secondary:hover, .color .btn-secondary:focus, .color .btn-secondary:active, .color .button-secondary:hover, .color .button-secondary:focus, .color .button-secondary:active {
  color: #A8DD7C;
  background-color: var(--color-scale-0);
}

.color .btn-tertiary, .color .button-tertiary {
  color: #F6D772;
  background-color: var(--color-scale-2);
}

.color .btn-tertiary:link, .color .btn-tertiary:visited, .color .button-tertiary:link, .color .button-tertiary:visited {
  color: #F6D772;
  background-color: var(--color-scale-2);
}

.color .btn-tertiary:hover, .color .btn-tertiary:focus, .color .btn-tertiary:active, .color .button-tertiary:hover, .color .button-tertiary:focus, .color .button-tertiary:active {
  color: #FDE9A6;
  background-color: var(--color-scale-0);
}

.color .input, .color .textarea, .color .select,
.color .c-question-single .c-question__input {
  color: var(--color-scale-1);
  background: #FFFFFF;
  border-color: rgba(255, 255, 255, 0);
}

.color .option > .option__base,
.color .o-text-controller__languages a {
  color: #1E78BE;
  background-color: var(--color-scale-2);
}

.color .option:hover > .option__base,
.color .o-text-controller__languages a:hover {
  color: #C9EEFE;
  border-color: #C9EEFE;
  background-color: var(--color-scale-0);
}

.color input:focus + .option__base {
  color: #C9EEFE;
  border-color: #C9EEFE;
  background-color: var(--color-scale-0);
}

.color input:checked + .option__base {
  color: #C9EEFE;
  background-color: var(--color-scale-0);
}

.color input[type=checkbox]:checked + .option__base > .option__graphic {
  stroke: var(--color-scale-0);
}

.color code, .color .code, .color .code-block, .color pre, .color .hljs {
  color: #68B7F4;
  background-color: var(--color-scale-3);
  border-color: rgba(255, 255, 255, 0);
}

.color p code, .color li code, .color td code {
  color: #A8DD7C;
}

.color .css {
  color: #68B7F4;
}

.color .javascript {
  color: #68B7F4;
}

.color .hljs-attr, .color .hljs-name {
  color: #68B7F4;
}

.color .hljs-comment {
  color: #C9EEFE;
}

.color .hljs-keyword, .color .hljs-attribute, .color .hljs-selector-tag,
.color .hljs-meta-keyword, .color .hljs-doctag, .color .hljs-name, .color .hljs-built_in {
  color: #1E78BE;
}

.color .hljs-type, .color .hljs-string, .color .hljs-subst, .color .hljs-number, .color .hljs-selector-id,
.color .hljs-selector-class, .color .hljs-quote, .color .hljs-template-tag, .color .hljs-deletion {
  color: #A8DD7C;
}

.color .hljs-regexp, .color .hljs-symbol, .color .hljs-variable, .color .hljs-template-variable,
.color .hljs-link, .color .hljs-selector-attr, .color .hljs-selector-pseudo {
  color: #F6D772;
}

.color .color-status-primary, .color .status-primary {
  color: var(--color-scale-2);
  background-color: #3194E0;
}

.color .color-status-primary a:not(.btn), .color .status-primary a:not(.btn) {
  color: inherit;
}

.color .color-status-secondary, .color .status-secondary {
  color: var(--color-scale-2);
  background-color: #A8DD7C;
}

.color .color-status-secondary a:not(.btn), .color .status-secondary a:not(.btn) {
  color: inherit;
}

.color .color-status-tertiary, .color .status-tertiary {
  color: var(--color-scale-2);
  background-color: #F6D772;
}

.color .color-status-tertiary a:not(.btn), .color .status-tertiary a:not(.btn) {
  color: inherit;
}

.color .color-status-alt, .color .status-alt {
  color: var(--color-scale-1);
  background-color: #C9EEFE;
}

.color .color-status-alt a:not(.btn), .color .status-alt a:not(.btn) {
  color: inherit;
}