/**
 * Utility
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/dimensions';
@use 'config/layouts';
@use 'config/media';
@use 'config/nav';
@use 'config/typography';

// Declarations
.c-utility {
  @include typography.set('small');
  @include nav.inline('', 'c-utility__item');
  display: flex;
  justify-content: end;
  align-items: center;

  @include layouts.wrap();
  padding-top: ($grid * 2);
  padding-bottom: ($grid * 2);

  min-height: $grid * 8;

  // @include media.screen-and-min-width('tablet') {
  //   padding-left: dimensions.$spacing-base;
  //   padding-right: dimensions.$spacing-base;
  // }
}

.pt-utility-anchor {
  padding-top: $grid * 8;
}

.pb-utility-anchor {
  padding-bottom: $grid * 8;
}

.mt-utility-anchor {
  margin-top: $grid * 8;
}

.mb-utility-anchor {
  margin-bottom: $grid * 8;
}