/**
 * Utility
 */

// Dependencies
@use 'config/grid' as *;
@use 'config/media';
@use 'config/nav';
@use 'config/typography';
@use 'config/dimensions';

// Declarations
.c-utility {
  @include typography.set('small');
  @include nav.inline();
  display: flex;
  justify-content: end;
  padding: ($grid * 2);

  @media screen and (min-width: media.$screen-tablet) {
    padding: dimensions.$spacing-base;
  }
}